.navbar .brand,.brand {
	color:#777;
	text-shadow: 0px -1px 0px #111;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: -.08em;
}

.navbar-inner {
	background: #232323 url(/assets/images/top-nav-bg.gif) repeat-x;
	box-shadow: 2px 0px 2px rgba(0,0,0,0.8);
	border-bottom: 1px solid #666;
}
.navbar .nav > li > a {
	color:#f1f1f1;
	text-shadow:1px 1px 1px #111;
} 

.modal-header {
	background: #ffa84c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */

		color:#f1f1f1;
}
.close {color:#f1f1f1; opacity: 0.5;}
.content .modal-header h3 {
	color:#942900;
	margin: 0;
	padding: 0;
	text-shadow: 0px 1px 1px #ffcd44;
}
.modal-body {
	padding-top: 20px;
}
.navbar .nav-collapse.in.collapse {
	top:9px;
}
.login h1,.login .brand {
	color:rgba(56,71,77,1);
	text-shadow: 0px 1px 1px #ceedff;
}
.help-block, .help-inline {
	color:#999;
}
.login {
 border:1px solid #f1f1f1;
background: rgb(182,219,234); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(182,219,234,1) 0%, rgba(136,186,207,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(182,219,234,1)), color-stop(100%,rgba(136,186,207,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(182,219,234,1) 0%,rgba(136,186,207,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(182,219,234,1) 0%,rgba(136,186,207,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(182,219,234,1) 0%,rgba(136,186,207,1) 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  rgba(182,219,234,1) 0%,rgba(136,186,207,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6dbea', endColorstr='#88bacf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h3 {margin-bottom:1em;}
.login_form {
	margin:2em auto 4em;
	padding:4em 3em 3em;
	border-radius: 10px 10px 10px 10px;
	border:1px solid #68B1E2;
	box-shadow: 1px 1px 8px #2A6E99;
	float:none;
}
.login_form legend {
	border:none;
	padding-left:20%;
}

a {
	color:#2A6E99;
}

.lightgrad {
background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 38%, #f9f9f9 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(38%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 38%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ffffff 38%,#f9f9f9 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ffffff 38%,#f9f9f9 100%); /* IE10+ */
background: radial-gradient(center, ellipse cover,  #ffffff 38%,#f9f9f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}

.mtop10 {
	margin-top: 15px;
}

.template_footer img {
	float:left;
	margin-right: 1em;
}
.template_footer p {
	line-height: 3em;
	text-align: right;margin: 0 0 2em 0;
}

.sidebar .well h3 {
	font-size:14px;
	line-height: 18px;
	margin-bottom: 1em;
	color:#ccc;
	text-shadow: 0px 1px 1px #fff;
	text-transform: uppercase;
	
}
.sidebar .well ul {
	list-style-type: none;
	padding:0;
	margin:0;
}
p.tagline {
	text-align: center;
	font-size:16px;
	font-weight: 400;
	max-width: 600px;
	margin: 2em auto 0;
	color:rgba(36,99,125,1);
	text-shadow: 0px 1px 1px #f1f1f1;
	font-style: italic;
	font-family: Georgia;
}
input:focus, textarea:focus, input[type=file]:focus, input[type=checkbox]:focus, select:focus {
	color:#111;
}
input, textarea, .uneditable-input,.input-prepend .add-on, .input-append .add-on {
	font-size:14px;
	padding:4px;
	line-height: 1.3em;
}
.input-prepend .add-on, .input-append .add-on {
	text-shadow: 0px -1px 1px #fff;
	background:#ebebeb;
}
select, input[type="file"] {
	font-size:14px;
	height:2.0em;
}
.actions {
	border-top:0px;
}
.content h2 {
	color:#444;
	margin:1em 0 2em;
	font-weight: 400;
}
.content h3 {
	color:#555;
	font-weight: 400;
}
img.avatar {
 vertical-align: middle;
 border:1px solid #ccc;
 padding:1px;
 box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.smallavatar {
	margin-top:-2px;
}
h3.accountmeta {
	margin:1em 0;
	font-size: 2em;
}
h3.accountmeta img.avatar {
	padding:2px;
	border:1px solid #ccc;
	margin-right:20px;
	
}


.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {
    background-color: #333;
}

.span3 .sidebar-nav {
	padding:1em 0;
}
.nav .nav-header {
	color:#444;
	text-shadow: 0px 1px 1px #fff;
}

.nav-tabs {
	padding-left: 10px;
}
.sidebar-nav .nav-list > li > a:hover  {
	background:#3597ed;
	color:#fff;
	text-shadow: 1px 1px 1px #04418c
}

.input-prepend .add-on, .input-prepend .btn {
    margin-right: -5px;
   }